<h1>The Parcel Calculator</h1>
<form action="/parcel">
  <div class="form-group">
    <label for "">Enter the parcel's specifications:</label>
    <input id="" name="" class="form-control" type="number">
  </div>
  <button type ="submit" class="btn-success">Enter</button>
</form>
